# macOS Finder settings
**/.DS_Store

# R and RStudio session files
**/.Rhistory
**/.Rapp.history
**/.RData
**/.Rproj.user/
# *_files/
/data/
__pycache__/

# Local testing files
main/file_check/
file_check/
extra.txt
/main/scratch.R
scratch.R

*_dropbox*
*_proper*
*_temp.rds*


# Files too big to upload that the code produces. 
# They are instead broken up, but eventually re-put together.
# Or downloaded via piggyback() using pb_download()
main/templates/template_25.rds
main/results/GICA25/S_VB2.rds
main/results/GICA25/SE_VB2.rds
main/simulation/TCs_FC.RData
main/simulation/subjICs_longsim.RDS
main/results/GICA25/S.rds
main/results/GICA25/SE.rds

templates/template_25.rds
results/GICA25/S_VB2.rds
results/GICA25/SE_VB2.rds
simulation/TCs_FC.RData
simulation/subjICs_longsim.RDS
results/GICA25/S.rds
results/GICA25/SE.rds