# macOS Finder settings
**/.DS_Store

# R and RStudio session files
**/.Rhistory
**/.Rapp.history
**/.RData
**/.Rproj.user/
# *_files/
# *_files/
/data/
__pycache__/
*_dropbox*
*_proper*
extra.txt
/main/scratch.R


# temp
main/templates/template_25.rds
main/templates/template25/template_mean_thr_IC.html
main/results/GICA25/result_subj1_sess1_VB1.RData
main/templates/template25/template_mean_thr_IC_files/