# macOS Finder settings
**/.DS_Store

# R and RStudio session files
**/.Rhistory
**/.Rapp.history
**/.RData
**/.Rproj.user/
# *_files/
# *_files/
/data/
__pycache__/
*_dropbox*
*_proper*
extra.txt
/main/scratch.R